$pale-yellow: #F6F0DC;
$red: #B82525;

@mixin breakpoint {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin endpoint {
  @media (min-width: 960px) {
    @content;
  }
}

body {
  background-color: $pale-yellow;
  font-size: 18px;
}

a {
  color: inherit;
}

.welcome-mat {
  -webkit-user-select: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  color: $red;
  font-family: Tahoma, Helvetica, Arial, "Adobe Fan Heiti Std", "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 12vw;
  line-height: 80vh;
  text-align: center;

  @include endpoint {
    font-size: 7.2em;
  }
}

.content {
  left: 0;
  padding-top: 80vh;
  position: absolute;
  right: 0;
  z-index: 2;
}

.content__container {
  background-color: $red;
  color: $pale-yellow;
  min-height: 100vh;
}

.section {
  padding: 24px;
}

.title,
.text {
  margin: 0 auto;
  max-width: 960px;
  border-bottom: 1px solid mix($pale-yellow, $red, 20%);
  margin-bottom: 16px;
  padding-bottom: 16px;

  &.last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @include breakpoint {
    @supports( (-webkit-columns: 2) or (-moz-columns: 2) or (columns: 2) ) {
      $rule: 1px solid mix($pale-yellow, $red, 20%);
      -webkit-column-count: 2;
      -webkit-column-gap: 48px;
      -webkit-column-rule: $rule;
      -moz-column-count: 2;
      -moz-column-gap: 48px;
      -moz-column-rule: $rule;
      column-count: 2;
      column-gap: 48px;
      column-rule: $rule;
      border-bottom: 0;
      margin-bottom: 24px;
      padding-bottom: 0;
    }
  }
}

.title {
  font-size: 1.6em;
  text-align: center;

  @include breakpoint {
    margin-top: 48px;
  }
}

.text--en, .text--cn {
  font-weight: normal;

  @include breakpoint {
    @supports( (-webkit-columns: 2) or (-moz-columns: 2) or (columns: 2) ) {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

.text--en {
  font-family: 'Ek Mukta', sans-serif;
  line-height: 1.1;
  margin-bottom: 16px;
}

.text--cn {
  line-height: 1.2;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}

.image {
  border-bottom: 1px solid $pale-yellow;
  border-top: 1px solid $pale-yellow;
  display: block;
  width: 100%;
}
