$pale-yellow: #F6F0DC;
$red: #B82525;

@mixin breakpoint {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin endpoint {
  @media (min-width: 960px) {
    @content;
  }
}

body {
  background-color: $pale-yellow;
}
