body {
  background-color: #F6F0DC;
}

div {
  color: #B82525;
  font-family: Tahoma, Helvetica, Arial, "Adobe Fan Heiti Std", "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 12vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}
