<div class="welcome-mat">
  囍
</div>

<div class="content">
  <div class="content__container--red-bg">

    <section class="section">
      <div class="title column">
        <div class="text--en">
          Introduction
        </div>
        <div class="text--cn">
          简介
        </div>
      </div>

      <div class="text column">
        <div class="text--en">
          Welcome to Tom &amp; Yanbin’s wedding celebration. We have built this website to give you further details about our special day, including the day’s schedule, some typical questions &amp; answers and information about the local area.
        </div>

        <div class="text--cn">
          欢迎参加汤姆和晏宾的婚礼庆典。此网站是关于庆祝详细信息，婚礼时间表，一些常见问题解答和本地旅游信息。
        </div>
      </div>

      <div class="text column">
        <div class="text--en">
          If you need to contact us, you can <a href="mailto:zhang.sabin@gmail.com">email us</a>, or message Tom or Yanbin on the usual social media platforms.
        </div>
        <div class="text--cn">
          你可以致信到 <a href="mailto:zhang.sabin@gmail.com">我们的邮箱</a>，或者通过其的社交软件联系我们。
        </div>
      </div>

      <div class="text column last-item">
        <div class="text--en">
          We have been married since the end of last year. This gathering will not be your traditional wedding reception but a family based celebration that we hope will be as special to you as it is to us.
        </div>
        <div class="text--cn">
          我们在去年年底的时候已经登记结婚。现在我们真诚的邀请亲朋好友来参加我们的特色婚礼。
        </div>
      </div>
    </section>

    <picture>
      <source media="(min-width: 660px)" srcset="images/wedding-desktop.jpg, images/wedding-desktop@2x.jpg 2x" >
      <img src="images/wedding-mobile.jpg" srcset="images/wedding-mobile@2x.jpg 2x" alt="Wedding ceremony" class="image">
    </picture>

    <section class="section">
      <div class="title column">
        <div class="text--en">
          Schedule
        </div>
        <div class="text--cn">
          时间表
        </div>
      </div>

      <div class="text column last-item">
        <div class="text--en">
          The day is split into two parts: there is a family celebration from midday and then from 7pm the evening celebration starts for work colleagues and neighbours.
        </div>
        <div class="text--cn">
          当天的安排分为两组：家庭成员的庆祝从中午12点开始，同事和邻居在晚上7点加入晚间的庆祝。
        </div>
      </div>

      <div class="timeline">
        <div class="timeline-point">
          <div class="timeline-point__time">
            12:00pm
          </div>
          <div class="text--en timeline-point__en">
            Afternoon guests arrive and offered canapés, with a choice of alcoholic or non-alcoholic drink
          </div>
          <div class="text--cn timeline-point__cn">
            中午宾客到达，提供点心饮料和酒
          </div>
        </div>

        <div class="timeline-point">
          <div class="timeline-point__time">
            2:30pm
          </div>
          <div class="text--en timeline-point__en">
            Guests seated for four course meal
          </div>
          <div class="text--cn timeline-point__cn">
            宾客入座，午宴开始
          </div>
        </div>

        <div class="timeline-point">
          <div class="timeline-point__time">
            4:00pm
          </div>
          <div class="text--en timeline-point__en">
            After-dinner speeches and toasts
          </div>
          <div class="text--cn timeline-point__cn">
            祝词，举杯同庆
          </div>
        </div>

        <div class="timeline-point">
          <div class="timeline-point__time">
            7:00pm
          </div>
          <div class="text--en timeline-point__en">
            Evening guests arrive and offered canapés. Open bar available serving a variety of drinks
          </div>
          <div class="text--cn timeline-point__cn">
            晚上宾客到达，提供点心饮料和酒
          </div>
        </div>

        <div class="timeline-point">
          <div class="timeline-point__time">
            8:00pm
          </div>
          <div class="text--en timeline-point__en">
            Live music and barn dance begins
          </div>
          <div class="text--cn timeline-point__cn">
            乡村集体舞蹈
          </div>
        </div>

        <div class="timeline-point">
          <div class="timeline-point__time">
            9:30pm
          </div>
          <div class="text--en timeline-point__en">
            Pig roast served, cake cutting
          </div>
          <div class="text--cn timeline-point__cn">
            烤猪，切蛋糕
          </div>
        </div>

        <div class="timeline-point">
          <div class="timeline-point__time">
            12:00am
          </div>
          <div class="text--en timeline-point__en">
            Minibus transport provided to local hotels if required
          </div>
          <div class="text--cn timeline-point__cn">
            如果需要，我们提供当地旅馆接送的班车服务
          </div>
        </div>
      </div>
    </section>

    <picture>
      <source media="(min-width: 660px)" srcset="images/tom-yanbin-desktop.jpg, images/tom-yanbin-desktop@2x.jpg 2x" >
      <img src="images/tom-yanbin-mobile.jpg" srcset="images/tom-yanbin-mobile@2x.jpg 2x" alt="Wedding ceremony" class="image">
    </picture>

    <section class="section">
      <div class="title column">
        <div class="text--en">
          Hotels and transportation
        </div>
        <div class="text--cn">
          酒店和交通
        </div>
      </div>

      <div class="text column last-item">
        <div class="text--en">
          We are still working on this section, please check back later.
        </div>

        <div class="text--cn">
          网站信息仍在更新中，请稍后再试。
        </div>
      </div>
    </section>

    <a href="https://api.mapbox.com/v4/tomsabin.p1g0p13c/page.html?access_token=pk.eyJ1IjoidG9tc2FiaW4iLCJhIjoiT0hIYlJzUSJ9.vxyvS9HU6g-yRapxe7KbWQ#14/52.2946/-2.1047" target="_blank">

      <picture>
        <source media="(min-width: 660px)"
          srcset="
            https://api.mapbox.com/v4/tomsabin.p1g0p13c/-2.0836,52.2971,13/1280x640.png?access_token=pk.eyJ1IjoidG9tc2FiaW4iLCJhIjoiT0hIYlJzUSJ9.vxyvS9HU6g-yRapxe7KbWQ,
            https://api.mapbox.com/v4/tomsabin.p1g0p13c/-2.0836,52.2971,13/1280x640@2x.png?access_token=pk.eyJ1IjoidG9tc2FiaW4iLCJhIjoiT0hIYlJzUSJ9.vxyvS9HU6g-yRapxe7KbWQ 2x">
        <img class="image" alt="Hotels and local attractions map"
          src="https://api.mapbox.com/v4/tomsabin.p1g0p13c/-2.0836,52.2971,12/660x400.png?access_token=pk.eyJ1IjoidG9tc2FiaW4iLCJhIjoiT0hIYlJzUSJ9.vxyvS9HU6g-yRapxe7KbWQ"
          srcset="https://api.mapbox.com/v4/tomsabin.p1g0p13c/-2.0836,52.2971,12/660x400@2x.png?access_token=pk.eyJ1IjoidG9tc2FiaW4iLCJhIjoiT0hIYlJzUSJ9.vxyvS9HU6g-yRapxe7KbWQ 2x">
      </picture>

    </a>

    <section class="section">
      <div class="title">
        <div class="text--en">
          Gifts
        </div>
      </div>

      <div class="text">
        <div class="text--en">
          In Chinese culture, <a href="http://www.chinasimplified.com/2014/12/11/red-packets-understanding-when-and-how-much-to-give/" class="no-style" target="_blank">red packets</a> are given as wedding gifts instead of household items. These are red envelopes with  money inside. If you wish to give us a wedding gift, we would prefer a monetary donation as we are trying to buy a flat and have already set up a home together.
        </div>
      </div>
    </section>

  </div>
</div>
