<div class="o-box o-top-content">
  <div class="o-box__header text--large">
    囍
  </div>
  <div class="o-box__middle">
    <h1 class="o-top-divider text--medium">
      Tom &amp; Yanbin
    </h1>
    <p class="text--small">
      Married 17.09.2015
    </p>
  </div>
  <p class="text--small">
    Thanks for joining our celebration
  </p>
  <p class="text--small">
    感谢你与我们一起分享美好的时光
  </p>
</div>

