---
assets:
  - images/2-preparations-1.jpeg
  - images/2-preparations-2.jpeg
  - images/2-preparations-3.jpeg
  - images/2-preparations-4.jpeg
  - videos/marquee-build.mp4
  - images/2-preparations-5.jpeg
  - images/2-preparations-6.jpeg
  - images/2-preparations-7.jpeg
  - images/2-preparations-8.jpeg
  - images/2-preparations-9.jpeg
  - images/2-preparations-10.jpeg
  - images/2-preparations-11.jpeg
  - images/2-preparations-12.jpeg
  - images/2-preparations-13.jpeg
  - images/2-preparations-14.jpeg
  - images/2-preparations-15.jpeg
  - images/2-preparations-16.jpeg
  - images/2-preparations-17.jpeg
  - images/2-preparations-18.jpeg
  - images/2-preparations-19.jpeg
  - images/2-preparations-20.jpeg
  - images/2-preparations-21.jpeg
  - images/2-preparations-22.jpeg
  - images/2-preparations-23.jpeg
  - images/2-preparations-24.jpeg
  - images/2-preparations-25.jpeg
  - images/2-preparations-26.jpeg
  - images/2-preparations-27.jpeg
  - images/2-preparations-28.jpeg
  - images/2-preparations-29.jpeg
  - images/2-preparations-30.jpeg
  - images/2-preparations-31.jpeg
  - images/2-preparations-32.jpeg
  - images/2-preparations-33.jpeg
  - images/2-preparations-34.jpeg
  - images/2-preparations-35.jpeg
  - images/2-preparations-36.jpeg
  - images/2-preparations-37.jpeg
  - images/2-preparations-38.jpeg
  - images/2-preparations-39.jpeg
  - images/2-preparations-40.jpeg
  - images/3-arrival-1.jpeg
  - images/3-arrival-2.jpeg
  - images/3-arrival-3.jpeg
  - images/3-arrival-4.jpeg
  - images/3-arrival-5.jpeg
  - images/3-arrival-6.jpeg
  - images/3-arrival-7.jpeg
  - images/3-arrival-8.jpeg
  - images/3-arrival-9.jpeg
  - images/3-arrival-10.jpeg
  - images/3-arrival-11.jpeg
  - images/3-arrival-12.jpeg
  - images/3-arrival-13.jpeg
  - images/3-arrival-14.jpeg
  - images/3-arrival-15.jpeg
  - images/3-arrival-16.jpeg
  - images/3-arrival-17.jpeg
  - images/3-arrival-18.jpeg
  - images/3-arrival-20.jpeg
  - images/3-arrival-21.jpeg
  - images/3-arrival-22.jpeg
  - images/3-arrival-23.jpeg
  - images/3-arrival-24.jpeg
  - images/3-arrival-25.jpeg
  - images/4-photo-booth.jpeg
  - videos/celebration-timelapse.mp4
  - images/5-wedding-breakfast-1.jpeg
  - images/5-wedding-breakfast-2.jpeg
  - images/5-wedding-breakfast-3.jpeg
  - images/5-wedding-breakfast-4.jpeg
  - images/5-wedding-breakfast-5.jpeg
  - images/5-wedding-breakfast-6.jpeg
  - images/5-wedding-breakfast-7.jpeg
  - images/5-wedding-breakfast-8.jpeg
  - images/5-wedding-breakfast-9.jpeg
  - images/5-wedding-breakfast-10.jpeg
  - images/5-wedding-breakfast-11.jpeg
  - images/5-wedding-breakfast-12.jpeg
  - images/5-wedding-breakfast-13.jpeg
  - images/5-wedding-breakfast-14.jpeg
  - images/5-wedding-breakfast-15.jpeg
  - images/5-wedding-breakfast-16.jpeg
  - images/5-wedding-breakfast-17.jpeg
  - images/5-wedding-breakfast-18.jpeg
  - images/5-wedding-breakfast-19.jpeg
  - images/5-wedding-breakfast-20.jpeg
  - images/5-wedding-breakfast-21.jpeg
  - images/5-wedding-breakfast-22.jpeg
  - images/5-wedding-breakfast-23.jpeg
  - images/5-wedding-breakfast-24.jpeg
  - images/5-wedding-breakfast-25.jpeg
  - images/5-wedding-breakfast-26.jpeg
  - images/5-wedding-breakfast-27.jpeg
  - images/5-wedding-breakfast-28.jpeg
  - images/5-wedding-breakfast-29-peony.jpeg
  - images/5-wedding-breakfast-30-wisteria.jpeg
  - images/5-wedding-breakfast-31-rose.jpeg
  - images/5-wedding-breakfast-32-lily.jpeg
  - images/5-wedding-breakfast-33-daisy.jpeg
  - images/5-wedding-breakfast-35-jasmine.jpeg
  - images/5-wedding-breakfast-35-poppy.jpeg
  - images/5-wedding-breakfast-36.jpeg
  - images/5-wedding-breakfast-37.jpeg
  - images/5-wedding-breakfast-38.jpeg
  - images/5-wedding-breakfast-39.jpeg
  - images/5-wedding-breakfast-40.jpeg
  - images/5-wedding-breakfast-41.jpeg
  - images/5-wedding-breakfast-42.jpeg
  - images/5-wedding-breakfast-43.jpeg
  - images/5-wedding-breakfast-44.jpeg
  - images/5-wedding-breakfast-45.jpeg
  - images/5-wedding-breakfast-46.jpeg
  - images/5-wedding-breakfast-47.jpeg
  - images/5-wedding-breakfast-48.jpeg
  - images/5-wedding-breakfast-49.jpeg
  - images/5-wedding-breakfast-50.jpeg
  - images/5-wedding-breakfast-51.jpeg
  - images/5-wedding-breakfast-52.jpeg
  - images/5-wedding-breakfast-53.jpeg
  - images/5-wedding-breakfast-54.jpeg
  - images/5-wedding-breakfast-55.jpeg
  - images/5-wedding-breakfast-56.jpeg
  - images/5-wedding-breakfast-57.jpeg
  - images/5-wedding-breakfast-58.jpeg
  - images/5-wedding-breakfast-59.jpeg
  - images/6-barn-dance-1.jpeg
  - images/6-barn-dance-2.jpeg
  - images/6-barn-dance-3.jpeg
  - images/6-barn-dance-4.jpeg
  - images/6-barn-dance-5.jpeg
  - images/6-barn-dance-6.jpeg
  - images/6-barn-dance-7.jpeg
  - images/6-barn-dance-8.jpeg
  - images/6-barn-dance-9.jpeg
  - images/6-barn-dance-10.jpeg
  - images/6-barn-dance-11.jpeg
  - images/6-barn-dance-12.jpeg
  - images/6-barn-dance-14.jpeg
  - images/6-barn-dance-15.jpeg
  - images/6-barn-dance-16.jpeg
  - images/6-barn-dance-17.jpeg
  - images/6-barn-dance-18.jpeg
  - images/6-barn-dance-19.jpeg
  - images/6-barn-dance-20.jpeg
  - images/6-barn-dance-21.jpeg
  - images/6-barn-dance-22.jpeg
  - images/6-barn-dance-23.jpeg
  - images/6-barn-dance-24.jpeg
  - images/6-barn-dance-25.jpeg
  - images/6-barn-dance-26.jpeg
  - images/6-barn-dance-27.jpeg
  - images/6-barn-dance-28.jpeg
  - images/6-barn-dance-29.jpeg
  - images/6-barn-dance-30.jpeg
  - images/6-barn-dance-31.jpeg
  - images/6-barn-dance-32.jpeg
  - images/6-barn-dance-33.jpeg
  - images/6-barn-dance-34.jpeg
  - images/6-barn-dance-35.jpeg
  - images/6-barn-dance-36.jpeg
  - images/6-barn-dance-37.jpeg
  - images/6-barn-dance-38.jpeg
  - images/6-barn-dance-39.jpeg
  - images/7-wedding-cake-1.jpeg
  - images/7-wedding-cake-2.jpeg
  - images/7-wedding-cake-3.jpeg
  - images/7-wedding-cake-4.jpeg
  - images/7-wedding-cake-5.jpeg
  - images/7-wedding-cake-6.jpeg
  - images/7-wedding-cake-7.jpeg
  - images/7-wedding-cake-8.jpeg
  - images/8-hog-roast-1.jpeg
  - images/8-hog-roast-2.jpeg
  - images/8-hog-roast-3.jpeg
  - images/6-barn-dance-40.jpeg
  - images/6-barn-dance-41.jpeg
  - images/6-barn-dance-42.jpeg
  - images/6-barn-dance-43.jpeg
  - images/6-barn-dance-44.jpeg
  - images/6-barn-dance-45.jpeg
  - images/6-barn-dance-46.jpeg
  - images/6-barn-dance-47.jpeg
  - images/6-barn-dance-48.jpeg
  - images/6-barn-dance-49.jpeg
  - images/6-barn-dance-50.jpeg
  - images/6-barn-dance-51.jpeg
  - images/6-barn-dance-52.jpeg
  - images/6-barn-dance-53.jpeg
  - images/6-barn-dance-54.jpeg
  - images/6-barn-dance-55.jpeg
  - images/6-barn-dance-56.jpeg

---

<div class="o-box o-top-content">
  <div class="o-box__header text--large">
    囍
  </div>
  <div class="o-box__middle">
    <h1 class="o-divider text--medium">
      Tom &amp; Yanbin
    </h1>
    <p class="text--small">
      Married 17.09.2015
    </p>
  </div>
  <p class="text--small">
    Thanks for joining our celebration
  </p>
  <p class="text--small">
    感谢你与我们一起分享美好的时光
  </p>
</div>

<main class="o-bottom-content">
  <% current_page.data.assets.each do |asset| %>
    <% if asset =~ /.jpeg\z/ %>
      <img src="/assets/<%= asset %>">
    <% elsif asset =~ /.mp4\z/ %>
      <video src="/assets/<%= asset %>" controls></video>
    <% end %>
  <% end %>
</main>
