<div class="welcome-mat">
  囍
</div>

<div class="content">
  <div class="content__container">

    <section class="section">
      <div class="title">
        <div class="text--en">
          Introduction
        </div>
        <div class="text--cn">
          简介
        </div>
      </div>

      <div class="text">
        <div class="text--en">
          Welcome to Tom & Yanbin’s wedding celebration. We have built this website to give you further details about our special day, including the day’s schedule, some typical questions & answers and info about the local area.
        </div>

        <div class="text--cn">
          欢迎参加汤姆和晏宾的婚礼庆典。这个网站是为庆典详情创建的，包括当天安排的细节，一些常见问题和解答，还有庆典当地周边的观光景点。
        </div>
      </div>

      <div class="text">
        <div class="text--en">
          If you need to contact us, you can <a href="mailto:zhang.sabin@gmail.com">email us</a>, or message Tom or Yanbin on the usual social media platforms.
        </div>
        <div class="text--cn">
          你可以致信到 <a href="mailto:zhang.sabin@gmail.com">我们的邮箱</a>，或者通过其的社交软件联系我们。
        </div>
      </div>

      <div class="text last-of-type">
        <div class="text--en">
          As you probably know, we are already married since September last year. This gathering will  not be your traditional wedding reception but a family based celebration that we hope will be as special to you as it is to us.
        </div>
        <div class="text--cn">
          很多人都知道，我们在去年年底的时候已经登记结婚。这个结婚庆典可能和你曾经去过的传统婚礼不一样，所邀来宾都是近亲和好友，希望你们会和我们一样享受这特别的一天。
        </div>
      </div>
    </section>

    <picture>
      <source media="(min-width: 660px)" srcset="images/wedding-desktop.jpg, images/wedding-desktop@2x.jpg 2x" >
      <img src="images/wedding-mobile.jpg" srcset="images/wedding-mobile@2x.jpg 2x" alt="Wedding ceremony" class="image">
    </picture>

  </div>
</div>
