---
assets:
  - tom-yanbin-photo-booth-1.jpeg
  - tom-yanbin-photo-booth-2.jpeg
  - tom-yanbin-photo-booth-3.jpeg
  - tom-yanbin-photo-booth-4.jpeg
  - tom-yanbin-photo-booth-5.jpeg
  - tom-yanbin-photo-booth-6.jpeg
  - tom-yanbin-photo-booth-7.jpeg
  - tom-yanbin-photo-booth-8.jpeg
  - tom-yanbin-photo-booth-9.jpeg
  - tom-yanbin-photo-booth-10.jpeg
  - tom-yanbin-photo-booth-11.jpeg
  - tom-yanbin-photo-booth-12.jpeg
  - tom-yanbin-photo-booth-13.jpeg
  - tom-yanbin-photo-booth-14.jpeg
  - tom-yanbin-photo-booth-15.jpeg
  - tom-yanbin-photo-booth-16.jpeg
  - tom-yanbin-photo-booth-17.jpeg
  - tom-yanbin-photo-booth-18.jpeg
  - tom-yanbin-photo-booth-19.jpeg
  - tom-yanbin-photo-booth-20.jpeg
  - tom-yanbin-photo-booth-21.jpeg
  - tom-yanbin-photo-booth-22.jpeg
  - tom-yanbin-photo-booth-23.jpeg
  - tom-yanbin-photo-booth-24.jpeg
  - tom-yanbin-photo-booth-25.jpeg
  - tom-yanbin-photo-booth-26.jpeg
  - tom-yanbin-photo-booth-27.jpeg
  - tom-yanbin-photo-booth-28.jpeg
  - tom-yanbin-photo-booth-29.jpeg
  - tom-yanbin-photo-booth-30.jpeg
  - tom-yanbin-photo-booth-31.jpeg
  - tom-yanbin-photo-booth-32.jpeg
  - tom-yanbin-photo-booth-33.jpeg
  - tom-yanbin-photo-booth-34.jpeg
  - tom-yanbin-photo-booth-35.jpeg
  - tom-yanbin-photo-booth-36.jpeg
  - tom-yanbin-photo-booth-37.jpeg
  - tom-yanbin-photo-booth-38.jpeg
  - tom-yanbin-photo-booth-39.jpeg
  - tom-yanbin-photo-booth-40.jpeg
  - tom-yanbin-photo-booth-41.jpeg
  - tom-yanbin-photo-booth-42.jpeg
  - tom-yanbin-photo-booth-43.jpeg
  - tom-yanbin-photo-booth-44.jpeg
  - tom-yanbin-photo-booth-45.jpeg
  - tom-yanbin-photo-booth-46.jpeg
  - tom-yanbin-photo-booth-47.jpeg
  - tom-yanbin-photo-booth-48.jpeg
  - tom-yanbin-photo-booth-49.jpeg
  - tom-yanbin-photo-booth-50.jpeg
  - tom-yanbin-photo-booth-51.jpeg
  - tom-yanbin-photo-booth-52.jpeg
  - tom-yanbin-photo-booth-53.jpeg
  - tom-yanbin-photo-booth-54.jpeg
  - tom-yanbin-photo-booth-55.jpeg
  - tom-yanbin-photo-booth-56.jpeg
  - tom-yanbin-photo-booth-57.jpeg
  - tom-yanbin-photo-booth-58.jpeg
  - tom-yanbin-photo-booth-59.jpeg
  - tom-yanbin-photo-booth-60.jpeg
  - tom-yanbin-photo-booth-61.jpeg
  - tom-yanbin-photo-booth-62.jpeg
  - tom-yanbin-photo-booth-63.jpeg
  - tom-yanbin-photo-booth-64.jpeg
  - tom-yanbin-photo-booth-65.jpeg
  - tom-yanbin-photo-booth-66.jpeg
  - tom-yanbin-photo-booth-67.jpeg
  - tom-yanbin-photo-booth-68.jpeg
  - tom-yanbin-photo-booth-69.jpeg
  - tom-yanbin-photo-booth-70.jpeg
  - tom-yanbin-photo-booth-71.jpeg
  - tom-yanbin-photo-booth-72.jpeg
  - tom-yanbin-photo-booth-73.jpeg
  - tom-yanbin-photo-booth-74.jpeg
  - tom-yanbin-photo-booth-75.jpeg
  - tom-yanbin-photo-booth-76.jpeg
  - tom-yanbin-photo-booth-77.jpeg
  - tom-yanbin-photo-booth-78.jpeg
  - tom-yanbin-photo-booth-79.jpeg
  - tom-yanbin-photo-booth-80.jpeg
  - tom-yanbin-photo-booth-81.jpeg

---

<main class="o-photo-booth">
  <% current_page.data.assets.each do |asset| %>
    <img class="lazy" data-src="/assets/images/4-photo-booth/<%= asset %>">
    <noscript><img src="/assets/images/4-photo-booth/<%= asset %>"></noscript>
  <% end %>
</main>
